src/main/mule/cicd-project2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="889a8130-4951-4e9d-9274-93262a11071e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-project2Flow" doc:id="831a6eae-998d-4045-b9eb-7b17de42190a" >
		<http:listener doc:name="Listener" doc:id="a7d93188-2af7-42e4-851b-66d05c3bacaf" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#[{&#10;	"id":1,&#10;	"name":"Ganesh"&#10;}]' doc:name="Set Payload" doc:id="1ba0c2d5-1b0e-42a0-8e34-86335b1f427a" />
		<logger level="INFO" doc:name="Start Logger" doc:id="36ae545a-45ab-4993-bb03-662b2c9cccc5" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="e39abe1b-ec22-4b41-bcab-6236befda13c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"id":payload.id,
	"name":payload.name,
	"age":22
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="fd73d9e8-fd42-4eeb-a8b9-8e87b7fac77c" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8ff95a2d-a125-4c57-b362-0885fead43cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
